body , html {
    height: 100%;
    margin: 0%;
}
.img1 {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(backgroundmenu.jpg);
    background-position: center;
    height: 100%;
    min-height: 500PX;
    background-size: cover;

}
.map1 {
    margin-top: 2%;
    margin-right:5%;
    margin-left: 5%;
    border-radius:25px ;
    border: 2px black solid;
} 

.title1 {
    font-size: 180%;
    font: arial ;
    margin-right: 35%;
}
.title2 {
    font-size: 180%;
    font: arial ;
    margin-left: 35%;
    margin-top: -2.3%;
}
.title{
    font-size: 300%;   
    text-align: center;
    font: arial;
}
section {
    text-align: center;
}
.a {
    color: black;
    margin-left: 1%;
}